.contenidoPuntos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1em;
}

.contenidoPuntos p{
    font-size: 1.3em;
    font-weight: 500;
}